<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locky Lows. Like less likables to win.</title>
    <link rel="icon" href="/images/ll.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="/JS/ll.js"></script>
</head>
<body>
    <div id="fader">
        <p id = "top-slogan">Where the most rewards goes to the most unlikables!</p>
    </div>
    <div id = "rooms-container"> 
        <%- include("./sticker") %>  <%- include("./sticker") %> <%- include("./sticker") %> <%- include("./sticker") %>
    </div>
    <div id = "right-top"></div>
    <div id = "right-wrapper">
        <img id = "frog" src="/images/treefrog2.png">
        <p id = "right-slogan">TRY TO<br>LIKE<br>LESS<br>LIKABLES<br>TO<br>WIN</p>
    </div>
