<div class = "sticker">
    <div id = "sticker-info">
        <p>Room Name</p>
        <p>Second line</p>
    </div>
    <div id = "sticker-timer">
        <p>dd : hh : mm</p>
        <p id="label1">DAY      HRS      MNS</p>
    </div>
</div>