<%- include('./partials/formatter') %>
    <div  id = "long-text">
        <p> <br><br><br><br><br><br><br><br><br>Lorem ipsum 
        </p>
    </div>
    <div id = "left-panel">
        <h1 class = "logo"> LUCKY LOWS</h1>
        
        <div id = "brief-info" class ="info">
            <img id = "avatar" src = <%= avatarUrl %> >
            <p><%= welcome %></p><br>
            <p><a id="my-studio" class="clickable" href="/mystudio">
              My studio <i class="material-icons" >view_quilt</i></p><br>
            <p><a id="my-rounds" class="clickable" href="/myrounds">
              My rounds <i class="material-icons" >account_balance</i></p><br>  
            <p><a id="my-setting" class="clickable" href="/settings">
              <i class="material-icons" >settings</i> Settings </p>
        </div>
        <div id = "messages" class ="info">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed libero enim sed faucibus turpis in. Rutrum tellus pellentesque eu tincidunt tortor. Urna condimentum mattis pellentesque id. Id porta nibh venenatis cras sed. </p>
        </div>
        <a id="logout" class="clickable" href="/logout"> logout 
        </a>
    </div>  
</body>
</html>