<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locky Lows. Like less likables to win.</title>
    <link rel="icon" href="/images/ll.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/JS/ll.js"></script>
</head>
<body>
    <div id = "right-top"></div> 
    <div id = "left-panel">
        <h1 class = "logo"> LUCKY LOWS</h1>
        <a id="logout" href="/logout"> logout
        <!-- <img id="google-logo" src="/images/google-logo.png"> -->
        </a>
    </div>  
    <div id = "right-wrapper">
        <img id = "frog" src="/images/treefrog.png">
        <p id = "right-slogan">TRY TO<br>LIKE<br>LESS<br>LIKABLES<br>TO<br>WIN</p>
    </div>
</body>
</html>