<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locky Lows. Like less likables to win.</title>
    <link rel="icon" href="/images/ll.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="/JS/ll.js"></script>
</head>
<body>
    <div  id = "long-text">
    </div>
    <div id = "left-panel">
        <h1 class = "logo"> LUCKY LOWS</h1>
        <div id = "brief-info" class ="info">
            <p>Settings</p>
            <p><a id="back" class="clickable" href="/dashboard">
              Back </a></p>
        </div>
        <div id = "messages" class ="info">
           
        </div>
        <a id="logout" class="clickable" href="/logout"> logout 
        </a>
    </div>  
</body>
</html>