<%- include('./partials/formatter') %>
<div id = "logo-top">LUCKY LOWS</div>

    <div id = "messages" class ="info mid">
        <p> Welcome to LUCKY LOWS,<br><br>
            We hope you make good times and fun experience in LUCKY LOWS.<br>
            As a new member, you have received 1000 LLcoins which you can use to 
            touch or bet on any subject in any room you like.<br>
            A complete user instruction eBook has been sent to your email. You can find more details there.
            <br><br><br> 
        </p>
        <p><%= welcome %></p>
        <a id="main-link" class="clickable" href="/dashboard"> Okay, let's go! </a>
    </div>
</body>
</html>